body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial;
}

canvas {
  display: block; /* removes inline gap */
  width: 100vw;
  height: 100vh;
  touch-action: none; /* prevents panning/zooming on touch */
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
}

.fps-counter {
  position: absolute;
  font-family: arial;
  font-size: 50px;
  letter-spacing: 5px;
  background: black;
  color: white;
  z-index: 100;
  transition: color 0.5s ease;
}

.topbar {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
